nav{
    display: flex;
    background-color: rgb(17, 17, 82);
    padding: 15px;
    margin-bottom: 30px;
}
nav > div{
    margin-right: auto;
    color: rgb(239, 116, 8);
}
nav > div > img {
    width: 30px;
}
nav a{
    margin-top: auto;
    margin-bottom: auto;
    font-size: 1.25rem;
    color: white;
    margin-right: 25px;
}
nav a:hover{
    color: gray;
}

